* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://www.vestirna.com/cms2/_data/section-7/info2-390.jpg);
    background-repeat: no-repeat; /* Zabraňuje opakování obrázku */
    background-size: cover; /* Zajistí, že obrázek pokryje celou obrazovku */
    background-position: center; /* Ujistí se, že obrázek je vycentrován */
}


.container {
    background: rgba(255, 255, 255, 0.1); /* Bílá barva s průhledností */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2), 0 8px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Přechod pro zvětšení při hoveru */
}

li:hover {
    transform: scale(1.05); /* Zvýšení úkolu při hoveru */
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

li span {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

li span:hover {
    color: #4CAF50;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1); /* Zvýšení textu při hoveru */
}

li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
    min-width: 60px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

li button:hover {
    background-color: #e53935;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

li button:active {
    transform: scale(0.95);
}

